<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row mb-4">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-outline-success me-2">Save</button>
          <button type="button" class="btn btn-outline-danger ">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name" id="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input class="form-control" type="url" name="imagePath" id="imagePath">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img src="">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" rows="6" class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p class="">Ingredients</p>
          <div class="row">
            <div class="col-sm-9">
              <input type="text" name="ingredient" class="form-control">
            </div>
            <div class="col-sm-2 form-group">
              <input type="number" name="amount" class="form-control">
            </div>
            <div class="col-sm-1">
              <button type="button" class="btn btn-outline-danger">X</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
