<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row mb-4">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-outline-success me-2" [disabled]="!recipeForm.valid">Save</button>
          <button type="button" class="btn btn-outline-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" formControlName="name" type="text" name="name" id="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input class="form-control" formControlName="imagePath" type="url" name="imagePath" id="imagePath"
              #imagePath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="img-responsive rounded">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" rows="6" formControlName="description" class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <p class="">Ingredients</p>
          <div class="row mt-2" [formGroupName]="i" *ngFor="let ingCtrl of recipeControls; let i = index">
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-sm-2 form-group">
              <input type="number" class="form-control" formControlName="amount">
            </div>
            <div class="col-sm-1">
              <button type="button" class="btn btn-outline-danger" (click)="onDeleteIng(i)">X</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="button" class="btn btn-outline-success my-4" (click)="onAddIngredient()">Add
              Ingredient</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
