<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" [alt]="recipe.name">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" ngbDropdown>
      <button type="button" class="btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
        Manage Recipe
      </button>
      <ul class="dropdown-menu" ngbDropdownMenu>
        <li><a class="dropdown-item" href="">Add Ingredients to shopping List</a></li>
        <li><a class="dropdown-item" href="">Edit Reecipe</a></li>
        <li><a class="dropdown-item" href="">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div>
  <p>
    {{ recipe.description }}
  </p>
</div>
<div>
  <p>
    Ingredients
  </p>
</div>
