<div class="row ">
  <div class="col-xs-12">
    <div class="img-fluid">
      <img [src]="recipe.imagePath" class="rounded" [alt]="recipe.name">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" ngbDropdown>
      <button type="button" class="btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
        Manage Recipe
      </button>
      <ul class="dropdown-menu" ngbDropdownMenu>
        <li><button type="button" class="dropdown-item" (click)="onAddToList()">Add Ingredients to shopping
            List</button>
        </li>
        <li><button class="dropdown-item" href="">Edit Reecipe</button></li>
        <li><button class="dropdown-item" href="">Delete Recipe</button></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>
      {{ recipe.description }}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ing of recipe.ingredients">
        {{ ing.amount }} {{ ing.name }}
      </li>
    </ul>
  </div>
</div>
